<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storage Unit | Folder Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <header class="main-header">
      <a href="/"><img class="small-logo" src="/icons/storage-unit-icon.png" /></a>
      <nav class="main-nav">
        <a class="main-links" href="/folder">ALL FOLDERS</a>
        <a class="main-links" href="/file">ALL FILES</a>
        <%- include("../partials/loginLogout.ejs") %>
      </nav>
    </header>
    <main>
    <h1>Folder Detail</h1>
    <div class="folder-info-div">
      <h2 id="folder-title" class="folder-title"><%= folder.name %></h2><div>
        <form id="edit-form" action="/folder/<%= folder.id %>?_method=PATCH" method="post">
        <input type="text" name="name" id="folder-input" class="hidden" value="<%= folder.name %>"/>
        <button id="edit-button" class="folder-button" type="button">Edit Folder Name</button>
        </form>
    </div>
    <div>
        <form id="delete-form" action="/folder/<%= folder.id %>?from=/folder/<%= folder.id %>&_method=DELETE" method="post">
            <button id="delete-button" class="folder-button" type="submit">Delete Folder</button>
        </form>
    </div>
    </div>
      <table>
        <caption>All Files in the <%= folder.name %> Folder</caption>
        <thead>
            <tr>
                <th scope="col"><span class="visually-hidden">Icon</span></th>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>
    <% files.forEach((file) => { %>
    <tr class="file-row">
        <td><a class='open-link' href='/file/<%= file.id %>?from=/folder/<%= folder.id %>'><svg class="file-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><title>file</title><path d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2Z"/></svg></a></td>
        <td><a class='open-link' href='/file/<%= file.id %>?from=/folder/<%= folder.id %>'><%= file.name %></a></td>
        <td><%= formatFileSize(file.size) %></td>
    </tr>
    <% }); %>
        </tbody>
    </table>
    <div class="file-upload-div">
        <form class="file-form" action="/file/upload" enctype="multipart/form-data" method="post">
          <input
            type="hidden"
            id="folderID"
            name="folderID"
            value="<%= folder.id %>"
          />
          <label for="uploaded_file" class="upload-file">Choose File:</label><span id="file-name">No File Chosen</span>
          <input
            type="file"
            name="uploaded_file"
            id="uploaded_file"
            class="upload visually-hidden"
          />
          <input type="text" name="name" id="name" placeholder="New File Name?"/>
          <button class="upload-file" type="submit">Upload File</button>
        </form>
  </div>
  <div class="size-error-div">
    <%= error === 'size' ? 'File exceeds 4MB size limit.' : '' %>
    <%= error === 'filetype' ? 'Filetype not allowed. No .zip or .exe allowed.' : '' %>
  </div>
    </main>
    <footer>Thought Windows</footer>
      <script src="/scripts/main.js"></script>
  </body>
</html>