<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storage Unit | Folder Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <header class="main-header">
      <div class="logo-nav-form">
        <nav class="main-nav">
          <a class="main-links" href="/folder">All Folders</a>
          <a class="main-links" href="/file">All Files</a>
          <%- include("../partials/loginLogout.ejs") %>
        </nav>
      </div>
    </header>
    <h1>Folder Detail</h1>
    <form action="/file/upload" enctype="multipart/form-data" method="post">
      <input
        type="hidden"
        id="folderID"
        name="folderID"
        value="<%= folder.id %>"
      />
      <label for="upload">Upload File:</label>
      <input
        type="file"
        name="uploaded_file"
        id="uploaded_file"
        class="upload"
      />
      <input type="text" name="name" id="name" />
      <button type="submit">Upload File</button>
    </form>
    <div>
        <form id="edit-form" action="/folder/<%= folder.id %>?_method=PATCH" method="post">
        <input type="text" name="name" id="folder-input" class="hidden" value="<%= folder.name %>"/>
        <button id="edit-button" type="button">Edit Folder Name</button>
        </form>
    </div>
    <main>
      <h2 id="folder-title" class="folder-title"><%= folder.name %></h2>
      <table>
        <caption>All Files in the <%= folder.name %> Folder</caption>
        <thead>
            <tr>
                <th scope="col"><span class="visually-hidden">Icon</span></th>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>
    <% files.forEach((file) => { %>
    <tr class="file-row">
        <td><a class='open-link' href='/file/<%= file.id %>'><svg class="file-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><title>file</title><path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" /></svg></a></td>
        <td><a class='open-link' href='/file/<%= file.id %>'><%= file.name %></a></td>
        <td><%= formatFileSize(file.size) %></td>
    </tr>
    <% }); %>
        </tbody>
    </table>
    </main>
      <script src="/scripts/main.js"></script>

  </body>
</html>
